.main-container {
  padding-top: 50px;
    height: 50rem;
    background-color: #ffffff;
  }
  
.heading {
    padding: 80px;
    } 
  
.con-h1{
       margin-left:250px;
       font-size: 40px;
       font-weight:bolder;
       font-family: 'Pacifico', cursive;
  }

  .con-p{
    margin-left: 280px;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Pacifico',cursive;
  }

  .contactme-container {
    margin: 0;
    padding: 0;
    font-family: "Pacifico", cursive;
  }
  .contactme-parent {
    border-radius: 0.6rem;
    font-size: 1rem;
    padding: 5rem 0rem;
    text-align: center;
    justify-content: center;
  }
  .contactme-heading {
    font-size: 3rem;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
  }
  .container .contactinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .container .contactinfo .box {
    position: relative;
    display: flex;
    padding: 0.5rem 0;
  }
  
  .container .contactinfo .box .icon {
    min-width: 3.75rem;
    height: 3.75rem;
    background: #ffee00;
    display: flex;
    color: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
  }
  
  .container .contactinfo .box .text {
    display: flex;
    margin-left: 1rem;
    font-size: 1rem;
    color: rgb(7, 7, 7);
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .container .contactinfo .box .text h3 {
    color: rgb(168, 74, 10);
    font-size: 1.5rem;
  }
  .contactform {
    width: 50%;
    padding: 2.5rem;
    background: #fcf804;
    border-radius: 3rem;
  }
  
  .contactform h2 {
    font-size: 1.9rem;
    color: #000000;
    font-weight: 500;
  }
  
  .contactform .inputbox {
    position: relative;
    width: 100%;
    padding: 0.6rem;
  }
  
  .contactform .inputbox input {
    width: 100%;
    padding: 0.3rem 0;
    font-size: 1rem;
    margin: 0.6rem 0;
    border-radius: 2rem;
    border: 0.1rem solid #eeff00;
    outline: none;
    resize: none;
  }
  .contactform .inputbox textarea {
    width: 100%;
    padding: 0rem 0;
    font-size: 1rem;
    margin: 0rem 0;
    border-radius: 2rem;
    border: 0.1rem solid #fcf803;
    outline: none;
    resize: none;
  }
  
  .contactform .inputbox span {
    position: absolute;
    left: 0;
    padding: 0.3rem 1rem;
    font-size: 1rem;
    margin: 0.6rem 0;
    pointer-events: none;
    transition: 0.5%;
    color: #0a0400;
  }
  
  .contactform .inputbox input:focus ~ span,
  .contactform .inputbox input:valid ~ span,
  .contactform .inputbox textarea:focus ~ span,
  .contactform .inputbox textarea:valid ~ span {
   
    color: rgb(3, 3, 3);
    font-size: 0.75rem;
    transform: translateY(-1.7rem);
  }
  
  .contactform .inputbox input[type="submit"] {
    width: 100%;
    background: #f88603;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 0.6rem;
    font-size: 1.2rem;
    border-radius: 45rem;
  }
  
  @media (max-width: 991px) {
    .main-container {
      height: 75rem;
    }
    .contactme-parent {
      padding: 1rem;
    }
    .contactform {
      width: 90%;
      padding: 2.5rem;
      background: #e9dc2c;
      border-radius: 3rem;
    }
    .container {
      flex-direction: column;
    }
    .container .contactinfo {
      margin-bottom: 2.5rem;
      margin-top: 1rem;
      width: 100%;
      padding-left: 14rem;
    }
  }
  
  @media (max-width: 810px) {
    .main-container {
      height: 75rem;
    }
    .contactme-parent {
      padding: 1rem;
    }
    .contactform {
      width: 90%;
      padding: 2.5rem;
      background: #e1ee25;
      border-radius: 3rem;
    }
    .container {
      flex-direction: column;
    }
    .container .contactinfo {
      margin-bottom: 2.5rem;
      margin-top: 1rem;
      width: 100%;
      justify-content: center;
      padding-left: 2rem;
    }
  }

  @media only screen and (max-width: 360px) {
    .main-container {
      padding-top: 170px;
      height: auto;
    }
    
    .heading {
      padding: 30px;
    }
    
    .con-h1{
      margin-left: 20px;
      font-size: 24px;
      font-weight: bold;
    }
  
    .con-p{
      margin-left: 30px;
      font-size: 14px;
      font-weight: lighter;
    }
  
    .contactme-parent {
      font-size: 0.8rem;
      padding: 2rem 0rem;
    }
    
    .contactme-heading {
      font-size: 2rem;
    }
    
    .container {
      flex-direction: column;
      margin-top: -1rem;
    }
    
    .container .contactinfo {
      width: 100%;
    }
    
    .container .contactinfo .box {
      padding: 0.2rem 0;
    }
    
    .container .contactinfo .box .icon {
      min-width: 2.5rem;
      height: 2.5rem;
      font-size: 1.1rem;
    }
    
    .container .contactinfo .box .text {
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
    
    .container .contactinfo .box .text h3 {
      font-size: 1.2rem;
    }
  
    .contactform {
      width: 100%;
      padding: 1.5rem;
      border-radius: 2rem;
    }
    
    .contactform h2 {
      font-size: 1.5rem;
    }
    
    .contactform .inputbox {
      padding: 0.4rem;
      
    }
    
    .contactform .inputbox input {
      padding: 0.2rem 0;
      font-size: 0.8rem;
      margin: 0.4rem 0;
      
    }
    
    .contactform .inputbox textarea {
      padding: 0rem 0;
      font-size: 0.8rem;
      margin: 0rem 0;
      
    }
    
    .contactform .inputbox span {
      font-size: 0.8rem;
      margin: 0.4rem 0;
    }
    
    .contactform .inputbox input[type="submit"] {
      font-size: 1rem;
      padding: 0.4rem;
    }
  }